/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;


// color by me
$darkturquoise:           #00CED1;
$darkcyan:                #008B8B;

//light
$color_light1:            #EFFFFD;
$color_light2:            #B8FFF9;
$color_light3:            #85F4FF;
$color_light4:            #42C2FF;

$color_light5:            #AAAAAA;
$color_light6:            #A4EBF3;
$color_light7:            #CCF2F4;
$color_light8:            #F4F9F9;

$color_light9:            #B9FFFC;
$color_light10:           #A3D8F4;
$color_light11:           #9AB3F5;
$color_light12:           #7579E7;



//dark
$color_dark1:             #132C33;
$color_dark2:             #126E82;
$color_dark3:             #51C4D3;
$color_dark4:             #D8E3E7;


$color_dark5:             #7B113A;
$color_dark6:             #150E56;
$color_dark7:             #1597BB;
$color_dark8:             #8FD6E1;

// gradient background


$gradient_light1: radial-gradient( circle farthest-corner at 10% 20%,  rgba(215,223,252,1) 0%, rgba(255,255,255,1) 0%, rgba(215,223,252,1) 84% );
$gradient_light2: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );

$gradient_dark1: radial-gradient( circle farthest-corner at 10% 20%,  rgba(32,45,58,1) 0%, rgba(90,92,106,1) 125.0%);
$gradient_dark2: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
$gradient_dark3: linear-gradient(to right, #606c88 0%, #3f4c6b  51%, #606c88  100%);

// $gradient_dark2: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
