<script src="{{ '/assets/js/three.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vanta.net.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/vanta.clouds.min.js' | relative_url }}"></script>

<script>
  var effect = null;
  setfreshTheme(localStorage.getItem("theme"));
  function setfreshTheme(theme) {
    if (effect) {
      window.effect.destroy();
    }
    if (theme == "dark") {
      // dark
      window.effect = VANTA.NET({
        el: "#animated-background",
        mouseControls: false,
        touchControls: false,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.0,
        scaleMobile: 1.00,
        color: 0x5588,
        backgroundColor: 0x1C1C1D,
        points: 30.00,
        maxDistance: 12.00,
        spacing: 8.00,
        showDots: true
      })
    }
    else {
      // light
      VANTA.CLOUDS({
        el: "#animated-background",
        mouseControls: false,
        touchControls: false,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00
      })
    }
    // window.effect.restart();
    // window.effect.resize();
  }

  function changeTheme() {
    if (localStorage.getItem("theme") != "dark") {
      setfreshTheme("dark");
    }
    else {
      setfreshTheme("light");
    }
  }

</script>